body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#8c7373;
    padding: 5px 10px;
}
.navbar a {
    color: rgb(80, 17, 33);
    text-decoration: none;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgb(206, 197, 197);
}
.navbar a:hover {
    background-color: #575757;/*#575757*/
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px; /* Ajustez la taille selon vos besoins */
    width: 50px;
    margin-right: 20px; /* Espace entre le logo et le titre */
    border-radius: 35%;
    object-fit: cover;
    margin-right: 10px;

    
}
.logo h1 {
    color: rgb(80, 17, 33);/*rgba(103, 10, 34, 0.536)*/
    font-size: 24px; /* Ajustez la taille du titre selon vos besoins */
    margin: 0; /* Supprime la marge par défaut */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgb(206, 197, 197);
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar a {
        padding: 10px 15px;
        width: 100%;
        text-align: left;
    }
}
.content{
    
    flex: 1;
    display: flex;
    flex-direction: column;
   /* background-color: rgb(80, 17, 33);*/
   background: url(background.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}
footer {
    background-color: #8c7373;
    color: rgb(80, 17, 33);
    text-align: center;
    padding: 20px 0;
}

a{
    color:rgb(80, 17, 33); 
    margin: 0 15px; 
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(206, 197, 197);
}

footer a {
    color: rgb(80, 17, 33);
    margin: 0 20px;
    text-decoration: none;
}
img{
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 0px;
}
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .btn {
    width: 160px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(80, 17, 33);
    box-shadow: 0 20px 30px -6px rgb(206, 197, 197, 1.5);
    outline: none;
    cursor: pointer;
    border: none;
    color: #8c7373;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }






























































  